extends ../../layouts/admin-layout
block content  
    link(rel="stylesheet", type="text/css", href="/css/images.css")
    .tools.computer.only
        .ui.buttons#modalidad
            button.ui.button#porRegion.active(onclick="changeMode(1)") Por región
            .or(data-text="O")
            button.ui.button#global(onclick="changeMode(2)") Global
        
        button.ui.labeled.icon.button#addCity
            i.add.icon
            |   Agregar ciudad


        .ui.search.small   
            .ui.icon.input
                input.prompt(type='text', placeholder='Search...')
                i.search.icon
            .results

                
    .ui.divider
    #toolsImages
        button.ui.active.button.primary#addImageBtn
            i.upload.icon
            |   Subir imagen
                    
        button.ui.basic.button.select#selectMultiBtn    
            i.tasks.icon
            |   Seleccionar elementos
        //button.ui.basic.button.select#selectSwitchBtn(onclick="makeCardsSwitchable()")
        //    i.exchange.icon
        //    |   Intercambiar elementos
        button.ui.basic.button#eliminarImagesBtn(style="display:none" onclick="deleteOption = 2; showModal()")
                i.trash.icon
                |   Eliminar selección
    .ui.link.cards.five.column.grid.doubling.stackable#cards
        each city in cities
            .ui.card
                a(href='/images/cities/'+city.id)
                    .image
                        img(src=city.toObject().ImagesM1.length > 0? city.toObject().ImagesM1[0].URL: '/imgs/admin/no-image.png')
                    .content
                        a.header= city.toObject().City
                        .meta
                            span.date= city.toObject().State+', '+city.toObject().Country
                    .extra.content
                        a
                            i.picture.icon
                            if city.toObject().ImagesM1.length != 1
                                = city.toObject().ImagesM1.length+" Imágenes"
                            else 
                                = city.toObject().ImagesM1.length+" Imágen"

    //Loader
    .ui.text.loader#cargando Cargando...

    //modal error
    .ui.tiny.modal#error-modal
        i.close.icon
        .header
            p#error-title
        .content
            p#modal-text
        .actions
            .ui.positive.right.labeled.icon.button
                | Aceptar
                i.checkmark.icon
            
    //Modal form 
    .ui.tiny.modal.first#formCiudad
        .header
            | Nueva ciudad
        .content
            form.ui.form#addCityForm
                .field
                    label Ciudad
                    input#cityInput(type='text', name='city', placeholder='Ciudad',onkeypress="this.parentElement.classList.remove('error')")
                .field
                    label Estado
                    input#stateInput(type='text', name='state', placeholder='Estado',onkeypress="this.parentElement.classList.remove('error')")
                .field
                    label País
                    input#countryInput(type='text', name='country', placeholder='Pais',onkeypress="this.parentElement.classList.remove('error')")
                //
                    .field
                        label Modalidad
                        select.ui.dropdown#selectMode(name='mode')
                            option(value='1') General
                            option(value='2') Específica
                            option(value='3') Ambas

        .actions
            .ui.button.cancel#cancelBtn Cancelar
            .ui.button.black#addBtn(onclick="addCity()") Agregar

    //Modal de confirmación para actualizar modalidad
    .ui.tiny.modal#confirm-update
        .header
            | Ciudad existente
        .content
            p#modal-text-confirm
        .actions
            .ui.labeled.icon.button.negative
                i.cancel.icon
                |   Cancelar
            .ui.labeled.icon.button.positive#confirmUpdate(onclick="updateModeCity()")
                i.check.icon
                |   Confirmar
                
        //Success modal
    .ui.mini.modal#success-modal
        i.close.icon
        .header
            p#success-title
        .content
            p#modal-success-text 
        .actions
            .ui.positive.right.labeled.icon.button
                | Aceptar
                i.checkmark.icon
    //Modal for image viewer
    .ui.modal#image-modal
        i.close.icon
        .image#div-modal-image
            img#imgInModal(src="/imgs/admin/no-image.png")
            .content#imgDetails
                p#detail-name   Imagen
                p#detail-points 180 Puntos
                p#detail-tagsText   Respuestas
                p#detail-tags 
                    a.ui.label.disabled  Respuesta 1
                    a.ui.label.disabled  Respuesta 2
        
    //Delete city modal
    .ui.basic.modal#delete-modal
        .ui.icon.header#delete-textTitle
            i.trash.icon
            |   ¿Seguro que desea eliminar las imagenes seleccionadas?
        .content
            p#delete-text   
                |   Las imagenes seleccionadas serán removidas de manera permamente.
        .actions
            .ui.red.basic.cancel.inverted.button
                i.remove.icon
                |       Cancelar
            .ui.green.ok.inverted.button#deleteBtn(onclick="deleteButton()")
                i.checkmark.icon
                |       Confirmar
    
    //Modal form image
    .ui.tiny.modal.first#formImage
        .header
            | Agregar imagen
        .content
            form.ui.form#addImageForm(enctype="multipart/form-data")
                .field#img-div
                    .ui.small.image
                        img#imgFile(src="/imgs/admin/no-image.png")
                    p#imgName Agregar imagen
                .field
                    input#inputFile(type="file" accept="image/*" style="display: none" name="imagen")
                .field.hidden(style="display:none")
                    label Marcar como la imagen activa
                    select.ui.dropdown#selectMode(name='mode')
                            option(value="true") Marcar como activa
                            option(value="false" selected) No marcar como activa
                .field
                    label Puntaje por imagen
                    input#valueInput(type='number', name='state', min="0",onkeypress="this.parentElement.classList.remove('error')", value="0")
                .field
                    label Opciones de respuestas (3 máximas)
                    #tags
                    input#answers(type='text', name='state',onkeypress="this.parentElement.classList.remove('error');return checkForTag(event);")
                    .note Ingrese primero la respuesta correcta.
                    .note Para separar cada respuesta presione ';'
        .actions
            .ui.button.cancel#cancelBtn Cancelar
            .ui.button.black#addImageBtnF(onclick="addImage()") Aceptar
    script(src="/js/images.js")