extends ../layouts/admin-layout
block content
    link(rel="stylesheet", href="css/home.css")
    .ui.segments
        .ui.segment
            h3.ui.center.aligned.header   MEJORES PUNTAJES
                    i.trophy.icon
        .ui.segments
            .ui.horizontal.segments
                table.ui.basic.table
                    thead
                        tr
                        th NOMBRE
                        th CORREO
                        th PUNTUACIÓN
                        th POSICIÓN
                    tbody
                        each score, $index in highestScores
                            tr
                                td=score.Name
                                td=score.Email
                                td 
                                    i.diamond.icon
                                    =score.Score
                                td=$index+1
                                    |   
                                    i.trophy.icon
            br
            .ui.segment
                h3.ui.center.aligned.header  ACTIVIDAD RECIENTE
                .ui.segments
                    .ui.horizontal.segments
                        table.ui.basic.table
                            thead
                                tr
                                th NOMBRE
                                th PUNTUACIÓN
                                th FECHA
                            tbody
                                each recent, $index in recents
                                    tr
                                        td=recent.Name
                                        td 
                                            i.diamond.icon
                                            =recent.Scores.score
                                        td=(new Date(recent.Scores.date).getDate()+'/'+(new Date(recent.Scores.date).getMonth()+1)+'/'+new Date(recent.Scores.date).getFullYear())
                                            |   
                                            i.trophy.icon