extends ../layouts/admin-layout
block content
  
    .ui.segments
        .ui.segment
            h3.ui.center.aligned.header
                font(style='vertical-align: inherit;') MEJORES PUNTAJES
                    i.trophy.icon
        .ui.segments
            .ui.horizontal.segments
                .ui.center.aligned.black.inverted.segment
                    p
                        font(style='vertical-align: inherit;') IMAGEN
                .ui.center.aligned.black.inverted.segment
                    p
                        font(style='vertical-align: inherit;') NOMBRE
                .ui.center.aligned.black.inverted.segment
                    p
                        font(style='vertical-align: inherit;') CIUDAD
                .ui.center.aligned.black.inverted.segment
                    p
                        font(style='vertical-align: inherit;') PUNTUACIÓN
                .ui.center.aligned.black.inverted.segment
                    p
                        font(style='vertical-align: inherit;') POSICIÓN
            .ui.horizontal.segments
                .ui.center.aligned.segment
                    p
                        font(style='vertical-align: inherit;')
                            img(src="", alt="")
                .ui.left.aligned.segment
                    p
                        font(style='vertical-align: inherit;') Scott
                .ui.left.aligned.segment
                    p
                        font(style='vertical-align: inherit;') Mazatlán
                .ui.left.aligned.segment
                    p
                        font(style='vertical-align: inherit;') 350
                            i.diamond.icon
                .ui.left.aligned.segment
                    p
                        font(style='vertical-align: inherit;') 1°
                            i.trophy.icon
            .ui.segment
                h3.ui.center.aligned.header
                    font(style='vertical-align: inherit;') ACTIVIDAD RECIENTE
                    .ui.segments
                .ui.horizontal.segments
                    .ui.black.inverted.segment
                    .ui.center.aligned.black.inverted.segment
                        p
                            font(style='vertical-align: inherit;') Aquí va la imagen del jugador  
                                br
                                img(src="", alt="")
                                font(style='vertical-align: inherit;') 350
                                i.diamond.icon
                    .ui.center.aligned.black.inverted.segment
                        p
                            font(style='vertical-align: inherit;') Scott ha ganado 15 puntos
                            i.diamond.icon
                    .ui.center.aligned.black.inverted.segment
                        p
                            font(style='vertical-align: inherit;') Descubrió el sitio en Los Mochis
                    .ui.black.inverted.segment
