body{
    overflow: hidden;
}
.card .image{
    height: 141px !important;
}
.card .image img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 767px){
    .ui.five.doubling.cards{
        margin-top: 10px; 
    }
}

div.ui.selection.dropdown, div.ui.icon.input{
    font-size: 13px;
}

.tools div{
    display: inline-block;
    margin-right: 10px;
}

.tools #modalidad{
    float: left;
}  

.tools #modalidad .active{
    background-color: black;
    color: white;
}

.tools{
    text-align: right;
}

#cargando.active{
    top: 170%;
}

.buttons{
    text-align: center;
    margin: 15.75px 0px 50px 15px;
}

#addCity    {
    margin-right: 20px;
}

#cards{
    margin-bottom: 25px;
}

#toolsImages{
    text-align: right;
    display: none;
    width: 100%;
    margin-bottom: 15px;
}

.ui.checkbox{
    position: absolute;
    right: 0px;
    top: 7px;
    display: none;
}

.extra.content{
    color: rgba(0,0,0,.4);
    transition: color .1s ease;
    padding: .75em 1em;
}

.position{
    font-size: small;
    border-bottom-left-radius: 100%;
    text-align: center;
    width: auto;
    padding: 3px 6px;
    position: absolute;
    background-color: black;
    opacity: 0.76;
    /* float: right; */
    right: 8;
    color: white;
    border-bottom-right-radius: 100%;
}

#imgDetails #detail-tagsText{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    position: absolute;
    bottom: 0%;
}
.header{
    font-weight: 700;
    font-size: 1.28571429em;
    margin-top: -.21425em;
    line-height: 1.28571429em;
    color: rgba(0,0,0,.85);
    display: block;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.content{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34,36,38,.1);
    background: 0 0;
    margin: 0;
    padding: 1em 1em;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0;
}
#imgName{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: .92857143em;
    font-weight: 700;
}

#imgDetails #detail-tags{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    position: inherit;
    bottom: 10%;
    left: 13%;
}

#imgInModal {
    max-width: 100%;
}

#imgDetails{
    min-height: 70px;
    width: 100%;
    background: #000000ad;
    position: absolute;
    height: 15%;
    bottom: 0px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}

#imgDetails #detail-name{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

#imgDetails #detail-points{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

#div-modal-image{
    text-align: center;
    background-color: black;
}

#img-div{
    text-align: center;
    cursor: pointer;
}

#tags{
    margin-bottom: 5px;
}
    
.ui.basic.modal#delete-modal .content p{
    text-align: center;
}